@media (orientation: portrait) {
#landscape { display: none; }
#toLandscape {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
}
#pleaseRotate {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 60%;
  font-size: 30px;
  color: white;
  text-align: center;
}
#back {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 6%;
  top: 5%;
}
}

@media (orientation: landscape) {
#landscape { display: block; }
#portrait {display: none;}
}

html, body, #landscape {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(55, 63, 72);
  font-family: "Helvetica";
}

.example-gaps {
  left: 9%;
  top: 14%;
  background: rgb(66, 74, 83);
  width: 85.8%;
}

.example-gaps .ui-slider-handle-odd {
    background: rgb(237, 128, 0);
    top: -15px;
    color: white;
    border-color: rgb(237, 128, 0);
    border-radius: 4px;
}

.example-gaps .ui-slider-handle-even {
    background: rgb(0, 104, 255);
    top: 5px;
    color: white;
    border-color: rgb(0, 104, 255);
    border-radius: 4px;
}

.example-gaps .range {
    background: rgb(211, 213, 215);
}



#removeButton {
  position: absolute;
  top: 60%;
  left: 30%;
}
#setDefaultButton {
  position: absolute;
  top: 60%;
  left: 40%;
}

#sideLine {
  position: absolute;
  width: 1;
  left: 8%;
  top: -4%;
  height: 101%;
}
#topLine {
  position: absolute;
  left: 0%;
  width: 100%;
  top: 7%;
}

a {
  text-decoration: none;
}
#sideBar {
  position: absolute;
  top: 55%;
  left: 4%;
  transform: translate(-50%, -50%);
}

.week {
  left: 3.95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: rgb(66, 74, 83);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
}

#Monday {
  top: 13.6%;
}
#Tuesday {
  top: 26.05%;
}
#Wednesday {
  top: 38.5%;
}
#Thursday {
  top: 50.95%;
}
#Friday {
  top: 63.4%;
}
#Saturday {
  top: 75.85%;
}
#Sunday {
  top: 87.3%;
}

#dayHeader {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 54%;
  top: 3.5%;
  color: white;
  font-size: 20px;
}




#backLandscape {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 4%;
  top: 7%;
}

#setDefaultButtonRound {
  position: absolute;
  top: 2%;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: rgb(66,74,83);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

/******* setDefault
*/
#setDefaultButtonRoundPage {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(66,74,83);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

#warning1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  font-size: 20px;
  color: white;
  text-align: center;
}

#warning2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  font-size: 15px;
  color: white;
  text-align: center;
}

#cancelSetDefault {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(66,74,83);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

/********* Monday
*/
#slideMonday {
  top: 84%;
}

#daySwitch {
  position: absolute;
  color: white;
  font-size: 15px;
  top: 33%;
  left: 26%;
  background-color: rgb(237, 128, 0);
  padding: 5px 10px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
#nightSwitch {
  position: absolute;
  color: white;
  font-size: 15px;
  top: 43%;
  left: 25.5%;
  background-color: rgb(0, 104, 255);
  padding: 5px 10px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

#startTime {
  position: absolute;
  top: 35.5%;
  left: 43%;
  width: 70px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  transform: translate(-50%, -50%);
}
#endTime {
  position: absolute;
  top: 45.5%;
  left: 43%;
  width: 70px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  transform: translate(-50%, -50%);
}

#submitButton {
  position: absolute;
  top: 60%;
  left: 20%;
}

#noClickDiv {
  position: absolute;
  z-index: 10;
  width: 92%;
  height: 18%;
  background-color: transparent;
  bottom: 0%;
  left: 8%;
}

#setPeriodButton {
  position: absolute;
  top: 54%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-color: rgb(66,74,83);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}



#deleteAllButton {
  position: absolute;
  top: 70%;
  left: 82%;
  transform: translate(-50%, -50%);
  background-color: rgb(66,74,83);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  display: none;
}


.periods {
  position: absolute;
  left: 70%;
  font-size: 20px;
  color: white;
  background-color: rgb(237, 128, 0);
  padding: 5px 10px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.periodsa {
  position: absolute;
  left: 85%;
  font-size: 20px;
  color: white;
  background-color: rgb(0, 104, 255);
  padding: 5px 10px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.trashcans {
  display: none;
  position: absolute;
  left: 94%;
  transform: translate(-50%, -50%);
  background-color: rgb(66,74,83);
  padding: 5px 10px;
  border-radius: 10px;
  width: 15px;
  height: 15px;
}
#period0, #perioda0 {
  top: 17%;
}
#period1, #perioda1 {
  top: 27%;
}
#period2, #perioda2 {
  top: 37%;
}
#period3, #perioda3 {
  top: 47%;
}
#period4, #perioda4 {
  top: 57%;
}

#trashcan0 {
  top: 22%;
}
#trashcan1 {
  top: 32%;
}
#trashcan2 {
  top: 42%;
}
#trashcan3 {
  top: 52%;
}
#trashcan4 {
  top: 62%;
}

.separators {
  position: absolute;
  left: 77.5%;
  font-size: 20px;
  color: white;
  background-color: rgb(66,74,83);
  padding: 5px 10px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
#separator0 {
  top: 17%;
}
#separator1 {
  top: 27%;
}
#separator2 {
  top: 37%;
}
#separator3 {
  top: 47%;
}
#separator4 {
  top: 57%;
}

#daysSetPeriods {
  position: absolute;
  left: 35%;
  top: 21%;
  font-size: 20px;
  color: white;
  transform: translate(-50%, -50%);
}

#warningDays1 {
  position: absolute;
  left: 35%;
  top: 70%;
  font-size: 20px;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 13px;
}

/******************** Monday
*/
#MondayDay {
  top: 13.6%;
  background-color: rgb(211, 213, 215);
}

/******************** Tuesday
*/
#TuesdayDay {
  top: 26.05%;
  background-color: rgb(211, 213, 215);
}

#slideTuesday {
  top: 84%;
}

/******************** Wednesday
*/
#WednesdayDay {
  top: 38.5%;
  background-color: rgb(211, 213, 215);
}

#slideWednesday {
  top: 84%;
}

/******************** Thursday
*/
#ThursdayDay {
  top: 50.95%;
  background-color: rgb(211, 213, 215);
}

#slideThursday {
  top: 84%;
}

/******************** Friday
*/
#FridayDay {
  top: 63.4%;
  background-color: rgb(211, 213, 215);
}

#slideFriday {
  top: 84%;
}

/******************** Saturday
*/
#SaturdayDay {
  top: 75.85%;
  background-color: rgb(211, 213, 215);
}

#slideSaturday {
  top: 84%;
}

/******************** Sunday
*/
#SundayDay {
  top: 87.3%;
  background-color: rgb(211, 213, 215);
}

#slideSunday {
  top: 84%;
}
